<html ng-app>
<head>
  <script src="lib/angular.js"></script>
	<script src="lib/jquery.js"></script>
  <script src="js/controllers.js"></script>
	<script type="application/javascript">
	$(function(){
		$('#test').click(function(e){
			var data;
			
			$.get('data.js', function(x) {
					data = JSON.parse(x);
				alert(data.length);
				})
				.fail(function(e) {
					alert('fail');
				});
		});
	});
	</script>
</head>
<body ng-controller="PhoneListCtrl">
		<button id="test">test</button>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <!--Sidebar content-->
     
          Search: <input ng-model="query">
     
        </div>
        <div class="span10">
          <!--Body content-->
     
          <ul class="phones">
            <li ng-repeat="phone in phones | filter:query">
              {{phone.name}}
              <p>{{phone.snippet}}</p>
							
            </li>
          </ul>
     
        </div>
      </div>
    </div>
</body>
</html>

